.h4 {
    font-weight: 300;
    margin-bottom: 1.3rem;
}

.h2 {
    font-weight: 300;
    margin-bottom: 1.3rem;
    font-size: 2.5rem;
}

.p {
    margin-bottom: 2rem;
}

.box {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.subBox {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    text-align: center;
}

.img {
    width: 95%;
    height: 90;
    border-radius: 50%;
}

.top {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    margin: 1rem 0 .8rem 0;
}

.bot {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    margin-bottom: 2rem;
}

/* Mobile */
@media(max-width: 768px) {
    .subBox {
        flex-direction: column;
    }
}

