.background {
    background-image: linear-gradient(
      rgba(133, 5, 5, 0.212),
      rgba(0, 0, 0, 0.774)
      ), url(https://i.imgur.com/7ZOazN5.jpg)
    ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}