.box {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: white;
    font-family: 'Open Sans', sans-serif;
    /* Center box since parent hieght is 100vh */
    height: 100%;
    padding: 0 4rem;
}

.h1 {
    font-size: 55px;
    font-family: 'Open Sans', sans-serif;
}

.p {
    font-size: 23px;
    max-width: 600px;
    margin: 20px 0 30px;
    font-family: 'Open Sans', sans-serif;
}

.btn {
    text-decoration: none;
    background-color: rgb(61, 165, 76);
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif
}

:hover.btn {
    opacity: 0.9;
    cursor: pointer;
}

/* Mobile */
@media(max-width: 768px) {
    .h1 {
        font-size: 45px;
    }
}