.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    opacity: .8;
    padding: 0 2rem;
}

span {
    color:  rgb(61, 165, 76);
}

.logo {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

.link {
    text-decoration: none;
    padding: 1rem;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

:hover.link {
    border-bottom:  rgb(61, 165, 76) 2px solid;
}

/* Mobile */
@media(max-width: 768px) {
    .nav {
        flex-direction: column;
        align-items: center;
        height: 120px;
        padding: 20px;
    }

    .link {
        padding: 1rem .8rem;
    }
}

